$header-fonts: 'Kaushan Script', cursive;
$text-fonts: Arial, serif;

$content-margin-top: 16px;
$content-margin-bottom: 16px;
$nav-menu-height: 64px;

$small-screen: 25em;

$app-gray: #7d7d7d;
$speech-wrap: #2f2f2f;
